{{template "studentHeader" .}}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">请假申请</h4>
                <form class="forms-sample" >
                    <input type="hidden" name="lid" value="{{.ask.LID}}">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">请假人</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="请假人"
                                   value="{{.ask.Name}}" name="name" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">请假原因</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="case">{{.ask.Cause}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">处理人:</label> &nbsp;
                        <label>{{.ask.AName}}</label>
                        <br>
                        <label for="exampleTextarea1">处理结果:</label>&nbsp;
                        {{if eq .ask.Status 0}}
                        <label class="badge badge-warning">待处理</label>
                        {{else if eq .ask.Status 1}}
                        <label class="badge badge-success">批准</label>
                        {{else}}
                        <label class="badge badge-danger">拒绝</label>
                        {{end}}
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">处理意见:</label>
                        <textarea class="form-control" id="exampleTextarea2" rows="4" name="case">{{.ask.Reason}}</textarea>
                    </div>
                </form>
                <a href="/student/askLeave">
                    <button class="btn btn-light">返回</button>
                </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © zhangyupeng 2023</span>
        </div>
    </footer>

</div>

{{template "studentFooter" .}}